<!--<app-bubble-sort></app-bubble-sort>-->

<!--<app-sorting-app></app-sorting-app>-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo" >
  <mdb-navbar-brand><a class="navbar-brand" href="#" >Algorithm Visualizer</a></mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="graph">Graph</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="sort">Sorting</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="search">Searching</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="tree">Tree</a>
      </li>
    </ul>
  </links>
</mdb-navbar>
<router-outlet></router-outlet>

<footer class="page-footer font-small blue darken-3">

  <div class="container">

    <div class="row">

      <div class="col-md-12 py-5">
        <div class="mb-6 flex-center">

          <a class="fb-ic" href="https://www.facebook.com/taher.irfan.7" style="padding-left: 10%">
            <mdb-icon fab icon="facebook" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <a class="li-ic"  href="https://www.linkedin.com/in/taher-irfan-206b50195">
            <mdb-icon fab icon="linkedin" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <a class="ins-ic" href="https://www.instagram.com/taher_irfan/">
            <mdb-icon fab icon="instagram" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <a class="pin-ic" href="https://github.com/Taher-Irfan">
            <mdb-icon fab icon="github" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
        </div>
      </div>


    </div>


  </div>

  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a > Md. Taher Irfan (Jahangirnagar University)</a>
  </div>


</footer>

